/* Credit Goes to http://codepen.io/oloman/pen/Gynoq, This gallery design is not mine, altered to fit my style */

html, body {
  margin: 0;
  padding:0;
  background: #B1FFA7;
}

ul.acordeon * {
  margin-top: 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: #FF69B5;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* Contenedor general */
ul.acordeon {
  width: 100%; /* Personalizar sncho total */
  overflow: hidden;
  padding: 0;
  background: url("../img/water.jpg");
  text-align: center;
  list-style: none;
  font-size: 0;
  box-shadow: 0 0 10px #B1FFA7;

}
/* Cada elemento */
ul.acordeon li {
  position: relative;
  display: inline-block;
  *display: inline; zoom: 1; /* IE7 */
  width: 10%; 
  height:0;
  padding-bottom: 40%; /* Ratio aspecto imagen = (height*X)/width */
  background: #066600;
  text-align: center;
  box-shadow: -2px 0px 8px #B1FFA7;
  overflow: hidden;

}
/* Títulos pestañas */
ul.acordeon li h4 {
  position: relative;
  top: 5%;
  z-index: 1;
  margin: 0;
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 10% 120%;
  -moz-transform-origin: 10% 120%;
  transform-origin: 10% 120%;
  white-space: nowrap;
}
/* Contenido inicialmente oculto */
ul.acordeon li a, ul.acordeon li img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  *display: inline; zoom: 1; /* IE7 */
  transform: rotate(360deg) .5s;
}
 

/* Hover: Desplegamos elemento aumentando su ancho */
ul.acordeon li:hover {
  width: 60%; /* 100 - 10*(nºelem-1) // X=60 para ratio imagen */ 
  background: #066600;
}
/* Hover: Hacemos que el título recupere la horizontal y le ponemos un fondo */
ul.acordeon li:hover h4 {
  padding-left: 10px;
  background: #FF69B5;
  color: #066600;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
/* Hover: Expandimos el contenido */
ul.acordeon li:hover a, ul.acordeon li:hover a img {
  width: 100%;  
  transform: rotate(360deg);


}


/* VARIACIONES PARA CONSEGUIR QUE EL MENU OCUPE INICIALMENTE TODO EL ANCHO 
ul.acordeon li {
  width: 20%;
}
ul.acordeon:hover li {
  width: 10%;
}
ul.acordeon li:hover {
  width: 60%;
}
*/

/*  Primary Header */

h1 {
  font-family: 'Nova Mono', sans-serif;
  color: #FF69B5;
  font-size: 6em;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #066600;
  font-size: 4em;
}

h3, {
  font-family: 'Nova Mono', sans-serif;
  color: #FF69B5;
  font-size: 3em;
}

/* Body Text */

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  color: #066600;
}

/* Baseline Links */

a:link,
a:visited {
  font-family: 'Josefin Sans', sans-serif;
  color: #FF69B5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



section {
  margin: 20px 0;
}

#logo {
  margin: 0;
  position: absolute;
  top: 0;
  right:0;
  z-index: 1
}

/* Show Grid */
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}

body {
  background: url("../img/water.jpg");
}

div.container {
  background: #B1FFA7;
}

footer p {
  text-align: center; 
  background-color: #FF69B5;
  font-color: #066600;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Ajustes para resoluciones pequeñas */
@media(max-width:600px) {
  ul.acordeon li h4 {
    font-size: 12px;
    letter-spacing: 1px;
  }

  h1 {
    font-size: 4em;
  }

  #logo {
     display: none;
  }
}