/* Your Website Styles */






/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}


h1 {
  font-family: 'Nova Mono', sans-serif;
  color: #FF69B5;
  font-size: 6em;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #6AE063;
  font-size: 4em;
}

h3 {
  font-family: 'Nova Mono', sans-serif;
  color: #FF69B5;
  font-size: 3em;
}

/* Body Text */

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  color: #6AE063;
}

/* Baseline Links */

a:link,
a:visited {
  font-family: 'Josefin Sans', sans-serif;
  color: #FF69B5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Set Your Own Margin & Padding */
h2, h3, p {
  margin-left: 20px;
}

/* Layout for Style Tile*/
section {
  margin: 20px 0;
}

body {
  background: url("../img/water.jpg");
}

div.container {
  background: #066600;
}